<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ExtensionTypeList" type="ItunesBackupFileExtractor.ConfigHelper, ItunesBackupFileExtractor"/>
  </configSections>
  
  <ExtensionTypeList>
    <ExtensionTypeElements>
      <!--Images-->
      <add Type="Image" Extension="jpg"/>
      <add Type="Image" Extension="jpeg"/>
      <add Type="Image" Extension="bmp"/>
      <add Type="Image" Extension="gif"/>
      <add Type="Image" Extension="tif"/>
      <add Type="Image" Extension="png"/>
      
      <!--Videos-->
      <add Type="Video" Extension="mov"/>
      <add Type="Video" Extension="mp4"/>
      <add Type="Video" Extension="3gp"/>
      <add Type="Video" Extension="avi"/>
      <add Type="Video" Extension="flv"/>

      <!--Audio files-->
      <add Type="Audio" Extension="aac"/>
      <add Type="Audio" Extension="m4p"/>
      <add Type="Audio" Extension="m4a"/>
      <add Type="Audio" Extension="mp3"/>
      <add Type="Audio" Extension="wav"/>
      <add Type="Audio" Extension="aax"/>
      <add Type="Audio" Extension="aa"/>
      <add Type="Audio" Extension="wmv"/>
      <add Type="Audio" Extension="flac"/>
      
      <!--Documents-->
      <add Type="Document" Extension="doc"/>
      <add Type="Document" Extension="docx"/>
      <add Type="Document" Extension="ppt"/>
      <add Type="Document" Extension="pptx"/>
      <add Type="Document" Extension="xls"/>
      <add Type="Document" Extension="xlsx"/>
      <add Type="Document" Extension="pdf"/>
      <add Type="Document" Extension="txt"/>
      
      <!--DB files-->
      <add Type="Database" Extension="sqlite"/>
      <add Type="Database" Extension="sqlitedb"/>
      <add Type="Database" Extension="db"/>
    </ExtensionTypeElements>
  </ExtensionTypeList>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
