<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MagicNumberList" type="ItunesBackupFileExtractor.ConfigHelper, ItunesBackupFileExtractor"/>
  </configSections>
  
  <MagicNumberList>
    <MagicNumberElements>
      <!--Images-->
      <add MagicNumber="FFD8FFE0" Extension="jpg" />
      <add MagicNumber="FFD8FFE1" Extension="jpg" />
      <add MagicNumber="4578696600" Extension="jpg" />
      <add MagicNumber="424D" Extension="bmp" />
      <add MagicNumber="47494638" Extension="gif" />
      <add MagicNumber="4D4D002A" Extension="tif" />
      <add MagicNumber="49492A00" Extension="tif" />
      <add MagicNumber="89504E47" Extension="png" />
      
      <!--Videos-->
      <add MagicNumber="6674797033677035" Extension="mp4" />
      <add MagicNumber="6674797071742020" Extension="mov" />
      <add MagicNumber="52494646" Extension="avi" />
      <add MagicNumber="464C56" Extension="flv" />

      <!--Audio files-->
      <add MagicNumber="3026B2758E66CF11" Extension="wmv" />
      <add MagicNumber="A6D900AA0062CE6C" Extension="wmv" />
      <add MagicNumber="FFFB" Extension="mp3" />
      <add MagicNumber="494433" Extension="mp3" />
      <add MagicNumber="664C6143" Extension="flac" />
      <add MagicNumber="667479704D344120" Extension="m4a" />
      
      <!--Compressed files-->
      <add MagicNumber="1F8B" Extension="gz" />
      <add MagicNumber="504B0304" Extension="zip" />
      <add MagicNumber="526172211A07" Extension="rar" />

      <!--DB files-->
      <add MagicNumber="53514C697465" Extension="sqlite" />
      
      <!--Other files-->
      <add MagicNumber="25504446" Extension="pdf" />
      
    </MagicNumberElements>
  </MagicNumberList>

</configuration>